extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'CSS Borders!';
        var myDescription = `The CSS border properties allow you to specify the style, width, and color of an element's border.`;
        var landingPage = 'CSS';
        var activeLink = '/css/borders';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 Borders!?
    p The border-style property specifies what kind of border to display.