extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'CSS Borders!';
        var myDescription = `The CSS border properties allow you to specify the style, width, and color of an element's border.`;
        var landingPage = 'CSS';
        var activeLink = '/css/borders';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 Borders
    p The border-style property specifies what kind of border to display.

    h3 Berders styles
    p.dotted A dotted border.
    p.dashed A dashed border.
    p.solid A solid border.
    p.double A double border.
    p.groove A groove border.
    p.ridge A ridge border.
    p.inset An inset border.
    p.outset An outset border.
    p.none No border.
