extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learning to code HTML, CSS and JavaScript!';
        var myDescription = 'This is a HTML replica of w3schools!';
        var landingPage = 'HTML';
        var activeLink = 'He he he :)';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 HTML5
    p HTML stands for Hyper Text Markup Language
    p HTML is the standard markup language for Web pages
    p HTML elements are the building blocks of HTML pages
    p HTML elements are represented by <> tags