extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'CSS colors!';
        var myDescription = 'Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.';
        var landingPage = 'CSS';
        var activeLink = '/css/colors';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 Colors!?
    p In HTML, a color can be specified by using a color name like Tomato, orange etc.
