extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'JavaScript operators!';
        var myDescription = 'Mathematic operators (work with text).';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/operators';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 Operators
    p Make opertions with java variables.

    h3 Operations
    p + Addition
    p - Subtraction
    p * Multiplication
    p ** Exponentiation (ES2016)
    p / Division
    p % Modulus (Remainder)
    p ++ Increment
    p -- Decrement