extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'HTML attributes!';
        var myDescription = 'Attributes provide additional information about HTML elements.';
        var landingPage = 'HTML';
        var activeLink = '/html/attributes';

block awesome-content
    h1=myTitle
    p=myDescription

    h2 Attributes
    p All HTML elements can have attributes
    p Attributes provide additional information about an element
    p Attributes are always specified in the start tag
    p Attributes usually come in name/value pairs like: name="value"

    h3 Link
    a(href="https://www.w3schools.com") This is the original w3schools website.
    p
    a(href="https://courses.codetap.academy/") This is THE BEST webdesign school! CodeTap Academy!
    

    h3 Image
    p "src" is the source and "alt" is the description of the photo.
    img(src=`${baseUrl}../../asset/image/img_girl.jpg`, alt="Girl", width="250", height="300")
    p This image is from the internet and will have width of 200 and height of 100
    img(src="https://images-na.ssl-images-amazon.com/images/I/915ZA7xWkRL._SL1500_.jpg", width="200", height="100", alt="Image 200x100")

    h3 Style
    a.salad This is a fruit salad color text.

    h3 Language
    a Language is set up in "html" tag with "lang="

    h3 Title
    a Title is set in "html" with "title="

