extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'HTML attributes!';
        var myDescription = 'Attributes provide additional information about HTML elements.';
        var landingPage = 'HTML';
        var activeLink = '/html/attributes';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 Attributes!?
    p All HTML elements can have attributes
    p Attributes provide additional information about an element
    p Attributes are always specified in the start tag
    p Attributes usually come in name/value pairs like: name="value"
