extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'JavaScript variables!';
        var myDescription = 'JavaScript variables are containers for storing data values.';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/variables';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 Variables!?
    p Variables can be for exaple x, y and z. Each variable take a numeric or string value.