extend ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learning to code HTML, CSS and JavaScript!';
        var myDescription = 'This is a HTML replica of w3schools!';
        var landingPage = 'JavaScript';
        var activeLink = 'He he he :)';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 What is JavaScript!?
    p JavaScript is the Programming Language for the Web
    p JavaScript can update and change both HTML and CSS
    p JavaScript can calculate, manipulate and validate data