extend ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learning to code HTML, CSS and JavaScript!';
        var myDescription = 'This is a HTML replica of w3schools!';
        var landingPage = 'CSS';
        var activeLink = 'He he he :)';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 What is CSS!?
    p CSS stands for Cascading Style Sheets
    p CSS describes how HTML elements are to be displayed