extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'CSS backgrounds!';
        var myDescription = 'The CSS background properties are used to define the background effects for elements.';
        var landingPage = 'CSS';
        var activeLink = '/css/backgrounds';

block awesome-content
    h1=myTitle
    p=myDescription
    h3 Backgrounds!?
    p CSS background properties:
    p background-color
    p background-image
    p background-repeat
    p background-attachment
    p background-position