extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'HTML elements!';
        var myDescription = 'An HTML element usually consists of a start tag and end tag.';
        var landingPage = 'HTML';
        var activeLink = '/html/elements';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 Elements
    p HTML elements can be nested (elements can contain elements).
    p All HTML documents consist of nested #[span(style="color:red") HTML elements].

    h3 Headings
    h1 this is "h1"
    h2 this is "h2"
    h3 this is "h3"
    h4 this is "h4"
    h5 this is "h5"
    h6 this is "h6"

    h3 Paragraph
    p Paragraphs are inserted with "p"
    p "a" is used for a hyperlink or an anchor and p is used for simple paragraphs