extend ../../_component/layout/template

block cool-config
    -
        var myTitle = 'HTML headings!';
        var myDescription = 'HTML headings.';
        var landingPage = 'HTML';
        var activeLink = '/html/headings';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 Headings
    p Headings are defined with the h1 to h6 tags.
    p On headings h1 defines the most important heading. h6 defines the least important heading.

    h3 Headings
    h1 this is "h1"
    h2 this is "h2"
    h3 this is "h3"
    h4 this is "h4"
    h5 this is "h5"
    h6 this is "h6"

    h3 Headings style
    a for each headding can be set a different style (color, size, font, etc).